div#match-listing.row
	.col-sm-1
	.col-sm-3
		h4.pull-right {{homeTeam.name}}
	.col-sm-1
		img(src="{{homeTeam.logo}}").img-responsive
	.col-sm-1
		h4.text-center - 
	.col-sm-1
		img(src="{{awayTeam.logo}}").img-responsive
	.col-sm-3
		h4 {{awayTeam.name}}
	.col-sm-1