div#header(data-ng-controller='NavigationController')
    nav.navbar.navbar-default(role="navigation")
        .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') commentTree
            #navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li.inline#home()
                        a(href="/")
                            i.icon-home.icon-white
                    li.inline#profile()
                        a(data-ng-href="/profile", href="/profile", target="")
                            i.icon-user.icon-white
                    li.inline#teams()
                        a(data-ng-href="/teams", href="/teams", target="") Teams
                    li.inline#addMatch()
                        a(data-ng-href="/matches", href="/matches", target="") Matches
                    //- li.inline#login
                    //-     div(data-login)
                    //li.inline#signIn(ng-hide='loggedIn', ng-class="{'selected': isActive('login')}")
                    //    a(href="login") Sign In
                    //li.inline#signOut(ng-show='loggedIn', ng-class="{'selected': isActive('logout')}")
                    //    a(href="logout") Sign Out
                    
